# Frontend
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Backend / Relayer
BASE_SEPOLIA_RPC_URL=
RELAYER_PRIVATE_KEY=
USDC_CONTRACT_ADDRESS=
ESCROW_CONTRACT_ADDRESS=
